<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Dance Vids</title>
        <!-- <script
            src="https://unpkg.com/htmx.org@2.0.0"
            integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
            crossorigin="anonymous"
        ></script> -->
        {{template "index_head"}}
    </head>

    <h1>Dance Vids!</h1>

    <body>
        <p>Welcome, here you will find my full catalogue of TenC practice dance videos.</p>
        <p>
            <a href="/htmltools/bachata" class="videoLinks"> Bachata</a>
        </p>
        <p>
            <a href="/htmltools/salsa" class="videoLinks"> Salsa</a>
        </p>
    </body>
</html>
