<!doctype html>
<html>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <head>
        <title>Salsa Vids</title>
        <!-- <script
            src="https://unpkg.com/htmx.org@2.0.0"
            integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
            crossorigin="anonymous"
        ></script> -->
        {{template "index_head"}}
    </head>

    <h1>This is the salsa index, fear it!</h1>

    <body>
        <ul>
            <li><a href="/htmltools/assets/vids/salsa_test_video.mp4">Salsa 1</a></li>
            <li><a href="/salsa/2">Salsa 2</a></li>
            <li><a href="/salsa/3">Salsa 3</a></li>
        </ul>
    </body>
</html>
