<!DOCTYPE html>
<html>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <head>
        <title>HTML Tools</title>
        <!-- <script
            src="https://unpkg.com/htmx.org@2.0.0"
            integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
            crossorigin="anonymous"
        ></script> -->
        {{template "report_head"}}
    </head>

    <h1>HTML Tools and Reports</h1>

    <body>
        <p>
            Welcome, here you will find a list of HTML tools and reports that Alan has created. Enjoy your
            stay!
        </p>
        <p>
            <!-- <a href="./energy_reports/_home.html" class="reportLinks"> Energy Reports</a> -->
            <a href="/htmltools/reports" class="reportLinks"> Energy Reports</a>
        </p>
        <p>
            <a href="/htmltools/N4-colour-schemes" class="reportLinks"> N4 Colour Scheme Preview Tool</a>
        </p>
        <p>
            <a href="./ppcl_reader/ppcl_reader.html" class="reportLinks"> PPCL Reader Tool</a>
        </p>
    </body>
</html>
